<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.csc436">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_gologo2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_gologo2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSC436">
        <activity android:name=".pollActivity"></activity>
        <activity android:name=".writeActivity" />
        <activity android:name=".ticketActivity" />
        <activity android:name=".aboutActivity" />
        <activity android:name=".profileActivity" />
        <activity android:name=".mainActivity" />
        <activity android:name=".registerActivity" />
        <activity android:name=".loginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>